.bloque1 {
    margin-bottom: 60px !important;
    margin-top: 50px !important;
}

.bloque3 {
    margin-bottom: 60px !important;
    margin-top: 70px !important;
}

.bloque4{
    margin-top: 80px;
    margin-bottom: 100px;

}

.bloquefondo{
    background-color: rgb(240, 240, 240) !important;
    padding-top: 20px;
    padding-bottom: 30px;
}

.suncafe1 {
    text-align: center;
    color: darkorange;
}
    
.tituloteam {
      text-decoration: none;
      text-align: center;
      color: rgb(26, 8, 2);
      margin-bottom: 50px;
  
}
  
.tituloteam a{
    text-decoration: none;
      color: #201103;
}

    
.suncafe2 {
      font-weight: 800px;
      text-align: center;
      color: white;
}
    
.textoteam{
    padding-top: 20px !important;
}  

.imgg{
    width: 100% !important;
}

.imgcafe{
    display: flex !important;
    justify-content: flex-end !important;
}

.tresimg{
    margin-top: 10px !important;
}

.teambloque{
    background: linear-gradient(to right,#ffa727, #fdbe66) !important;
    padding-top: 100px;
    padding-bottom: 90px;
}

.contenido1{
    background: linear-gradient(to right,#ffa727, #fdbe66) !important;
    padding-bottom: 70px;
}

.contenido2{
    background: linear-gradient(to right,#ffc368, #fccf91) !important;
    padding-bottom: 70px;
    padding-top: 90px;
}

.flor {
    display: inline-block;
    justify-content: end;
    vertical-align: -0.125em;
    fill: currentcolor;
    margin-right: 10px;
    justify-items: center;
    margin-top: 2px;
}

@media only screen and (max-width: 380px) {
    .img {
        max-width: 100% !important;    }
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } 