@import "header";
@import "variables";
@import "bloquesinformativos";
@import "reset";
@import "footer";
@import "buttonprincipal";
@import "galeria";
@import "animation";
@import "googlemap";
  
 
#descripcion {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 15px;
}
    
#redessociales2 {
    display: flex;
    flex-wrap: wrap;
}
    
#redessociales2 a img{
    margin: 5px;
    width: 30px;
}
    
#email h4{
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
    
.bloqueemail{
    margin-top: 20px;
    background-color: #ededed;
    height: 20px;
    width: 280px;
}
    
.icon-demo .bi, .icon-demo-examples .bi {
    width: 1.3em;
    height: 1.3em;
      
}
  
.icon-demo .flor, .icon-demo-examples .flor {
    width: 1.3em;
    height: 1.3em;
}
  
.nosotros {
  margin-top: 50px;
  text-align: center;
  color: dimgrey;
}

.texto1 {
    color: dimgrey !important;
  }
  
.card-body{
    text-align: center !important;
}
  
.team{
    justify-content: center !important; 
    display: flex !important;
}
  
.siguenos{
    padding-top: 80px;
    margin-top: 70px;
    text-align: center;
    color:#1c0c06;
}

@media (max-width: 600px) {
    .carousel-item {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  


.carousel-inner img {
/* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

@media (min-width: 768px) {
    .imgteam {
        width: 50px;
      
    }
}

@media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
